技术栈：python,poetry,flask
目录结构：
src/
    controller/
    controller/automation_controller.py 自动化控制器
    model/
    service/
    service/window_service.py window应用控制服务
    service/deepseek_service.py 大模型调用
    service/trading_service.py 交易服务
    service/flash_service.py http服务，管理http请求服务
    view/
    view/automation_view.py 应用界面
    main.py
    config.py
    utils.py
